h1 {
    background-color: rgb(255, 115, 0);
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 40px ;
}


.heading {
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    color: rgb(100, 93, 93);
}

p{
  font-size: 20px;
}

.container p::first-letter{
    font-size: 50px;
    float: left;
}

.container {
    max-width: 80vw;
    margin: 0 auto;
}

.card{
    width: 300px;
    height: 400px;
    /* background-color: cyan; */
    box-shadow: 0 0 5px 2px rgba(20, 20, 20, 0.15);
}

img{
    width: 100%;
}

.card .content-section{
    padding: 10px;
}
.card .content-section h3{
color: rgb(255, 115, 0);
font-size: 30px;
}

button{
    outline: none;
    border: 2px solid rgb(255, 115, 0);
    background-color: transparent;
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    border-radius: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}